# Dependências
node_modules

# Saída do build
dist

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente local
.env.local